.Delivery-block {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 40px;
}

.Delivery-block-inner {
    box-shadow: -3px 9px 37px 13px rgba(123,169,229,0.19);
    border-radius: 5px;
    width: 250px;
    height: 130px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    button{
        margin-top:20px ;
    }
}