* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1400px;
}

.App {
  margin-top: 50px;
}

.App-logo {
  font-size: 25px;
  font-family: 'Cambria', sans-serif;
}

.App-block {
  ul{
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-top: 20px;
  }
  li {
    display: inline-block;
    background-color: rgb(197, 197, 197);
    padding: 15px;
    font-size: 18px;
    border: 1px solid white;
    font-family: 'Arial',sans-serif;
    cursor: pointer;
  }
}
.page-content{
  padding-top: 30px;
}